$font_size_main: 17px;
$font_family_main: Verdana, Geneva, Tahoma, sans-serif;
$font_color: #212353;
// $background_main: linear-gradient(#edf2f2, #141515);


$width_content: 1170px;
$half_width_content: calc($width_content / 2);